
:root{
    --main-color:#8e44ad;
    --black:#222;
    --white:#fff;
    --light-black:#777;
    --light-white:#fff9;
    --dark-bg:rgba(0,0,0,.7);
    --light-bg:#eee;
    --border:.1rem solid var(--black);
    --box-shadow:0.5rem 1rem rgba(0,0,0,.1);
    --text-shadow:0 1.5rem 3rem rgba(0,0,0,.3);

}

section{
    padding: 5rem 10%;
}
.header{
    position: sticky;
    top: 0; left: 0; right: 0;
    z-index: 1000 !important;
    background: var(--white);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 2rem;
    padding-bottom: 2rem;
    box-shadow: var(--box-shadow);
}
section .header .logo {
    font-size: 2.5rem;
    width: 30%;
    vertical-align: middle;
    margin-top: 8px;
}
section .header .logo img {
    float: left;
    width: 50px;
    height: 50px;
    border-radius: 5px;
    margin-right: 10px;
}

.header .navbar a{
    font-size: 2rem;
    margin-left: 2rem;
    color: var(--black);
}
.header .navbar a:hover {
    color: var(--main-color);
} 
.bani {
    height: 300Px;
    margin-top: 70px;
    color:rgb(68, 216, 0) ;
    text-align: center;
    font-size:34px;
    padding: 34px;
    background: url(Image\ \(3\).jpg);
   
 
}

#patri {
    padding: 5Opx;
    text-align: center;
    background-color: rgba(220, 245, 237, 0.788);
}
#patri h1{
    font-size: 34px;
    color: rgb(255, 60, 0);
    padding-bottom: 40px;

}
#patri div img:hover{
    border-radius: 40px;
    transition: all 0.5s ease; 
    
    margin-left: 20px;
    margin-bottom:flex ;
    
}
#patri div{
    display: contents;
    width: 25%;
    text-align: center;
    margin-right: 40px;
}


@media screen and (max-width:800px){
    header .container{
        display:block;
    }
    header .container .nav{
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 50px;
    }

    header .container .nav li{
        margin-bottom:20px ;
    }
    .bani{
        font-size: medium;
        padding: 20px;
    }

    #patri div img:hover{
        margin-right: 5px;
    }
}
